/* Fonts */
/*
@font-face {
  font-family: 'Open Sans Regular';
  src:  url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src:  url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src:  url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Extrabold';
  src:  url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/
/** General **/
/*************/
body, html {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 15px;
  font-family: "Open Sans Regular", sans-serif;
  color: black;
  height: 100%; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  color: #e8623d; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Open Sans Semibold", sans-serif; }

h1 {
  font-size: 18px; }

a:hover {
  color: #ff6666;
  text-decoration: none; }

#loading-parent {
  display: none; }

#loading {
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center; }

.loading-icon {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  display: inline-block;
  background: url("../img/cube.gif") no-repeat center center;
  width: 200px;
  height: 200px; }

.margin-top-m,
.block .margin-top-m {
  margin-top: 40px; }

/** Buttons **/
/*************/
.btn {
  padding: 10px 25px;
  margin-right: 25px;
  color: white;
  background: transparent;
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 0; }

.btn.orange {
  background: #e8b63d; }

.btn.orange:hover {
  background: #d8a11a;
  color: white; }

.btn.red {
  background: #e8623d; }

.btn.red:hover {
  background: #d8431a;
  color: white; }

.btn.green {
  background: #94cc47; }

.btn.green:hover {
  background: #7aaf31;
  color: white; }

.btn.grey {
  background: #394144; }

.btn.grey:hover {
  background: #222628;
  color: white; }

div.buttons {
  margin-top: 20px;
  margin-bottom: 20px; }

.buttons.bottom {
  margin-bottom: 50px; }

.btn.small {
  padding: 5px 14px;
  margin-right: 0;
  font-size: 13px;
  color: white; }

.btn.small:focus {
  color: white; }

.btn.naked {
  background: none;
  font-family: "Open Sans Semibold", sans-serif;
  text-decoration: underline;
  color: #394144; }

.btn.naked:hover {
  background: none;
  color: #394144; }

/** Alerts **/
/************/
#messages {
  position: fixed;
  z-index: 990;
  top: -20px;
  left: 0;
  width: 100%; }

.alert {
  border-radius: 0;
  padding: 10px; }

.alert-error {
  background: #ff6666;
  color: white; }

.alert-success {
  background: #94cc47;
  color: white; }

.alert-info {
  background: #00bcd2;
  color: white; }

.alert-warning {
  background: #ffcb01;
  color: white; }

/** Charts **/
/************/
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px; }

/* Fonts */
/*
@font-face {
  font-family: 'Open Sans Regular';
  src:  url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src:  url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src:  url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Extrabold';
  src:  url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/
/** General **/
/*************/
body, html {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 15px;
  font-family: "Open Sans Regular", sans-serif;
  color: black;
  height: 100%; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  color: #e8623d; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Open Sans Semibold", sans-serif; }

h1 {
  font-size: 18px; }

a:hover {
  color: #ff6666;
  text-decoration: none; }

#loading-parent {
  display: none; }

#loading {
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center; }

.loading-icon {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  display: inline-block;
  background: url("../img/cube.gif") no-repeat center center;
  width: 200px;
  height: 200px; }

.margin-top-m,
.block .margin-top-m {
  margin-top: 40px; }

/** Buttons **/
/*************/
.btn {
  padding: 10px 25px;
  margin-right: 25px;
  color: white;
  background: transparent;
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 0; }

.btn.orange {
  background: #e8b63d; }

.btn.orange:hover {
  background: #d8a11a;
  color: white; }

.btn.red {
  background: #e8623d; }

.btn.red:hover {
  background: #d8431a;
  color: white; }

.btn.green {
  background: #94cc47; }

.btn.green:hover {
  background: #7aaf31;
  color: white; }

.btn.grey {
  background: #394144; }

.btn.grey:hover {
  background: #222628;
  color: white; }

div.buttons {
  margin-top: 20px;
  margin-bottom: 20px; }

.buttons.bottom {
  margin-bottom: 50px; }

.btn.small {
  padding: 5px 14px;
  margin-right: 0;
  font-size: 13px;
  color: white; }

.btn.small:focus {
  color: white; }

.btn.naked {
  background: none;
  font-family: "Open Sans Semibold", sans-serif;
  text-decoration: underline;
  color: #394144; }

.btn.naked:hover {
  background: none;
  color: #394144; }

/** Alerts **/
/************/
#messages {
  position: fixed;
  z-index: 990;
  top: -20px;
  left: 0;
  width: 100%; }

.alert {
  border-radius: 0;
  padding: 10px; }

.alert-error {
  background: #ff6666;
  color: white; }

.alert-success {
  background: #94cc47;
  color: white; }

.alert-info {
  background: #00bcd2;
  color: white; }

.alert-warning {
  background: #ffcb01;
  color: white; }

/** Charts **/
/************/
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px; }

/** General **/
/*************/
.content-wrapper {
  padding-top: 20px;
  margin: 20px auto;
  width: 1200px; }

.add-wallet {
  width: 100%;
  background: limegreen; }

.add-wallet fieldset {
  border: 0;
  width: 400px;
  display: inline-block; }

.link {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #eee;
  padding: 10px 50px 10px 0;
  text-align: right;
  box-sizing: border-box; }

.coinmarketcap-currency-widget {
  width: 400px; }

.stats {
  margin-bottom: 40px; }

.stats .coinmarketcap-currency-widget,
.stats .calc {
  display: inline-block;
  vertical-align: top; }

.diff {
  color: green; }

.diff.negative {
  color: red; }

.stats .calc {
  margin-left: 20px; }

.stats table,
table th,
table td {
  padding: 2px 10px; }

table {
  text-align: left;
  border-collapse: collapse; }

table th {
  background: #333;
  color: white;
  font-weight: normal;
  border: 1px solid #444; }

table th:first-child {
  text-transform: uppercase; }

table td {
  border: 1px solid #444; }

.totals {
  margin: 20px 0 50px 0; }

.stack {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px; }

table .corner {
  border: 0; }

/*# sourceMappingURL=app.css.map */
