/** General **/
/*************/
body, html {
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-size: 15px;
    font-family: "Open Sans Regular", sans-serif;
    color: black;
    height: 100%;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: $red2;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: "Open Sans Semibold", sans-serif;
}

h1 {
    font-size: 18px;
}

a:hover {
    color: $red1;
    text-decoration: none;
}

#loading-parent {
    display: none;
}

#loading {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.loading-icon {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
    display: inline-block;
    background: url('../img/cube.gif') no-repeat center center;
    width: 200px;
    height: 200px;
}

.margin-top-m,
.block .margin-top-m {
    margin-top: 40px;
}

/** Buttons **/
/*************/
.btn {
    padding: 10px 25px;
    margin-right: 25px;
    color: white;
    background: transparent;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 0;
}

.btn.orange {
    background: $orange2;
}

.btn.orange:hover {
    background: darken($orange2, 10%);
    color: white;
}

.btn.red {
    background: $red2;
}

.btn.red:hover {
    background: darken($red2, 10%);
    color: white;
}

.btn.green {
    background: $green1;
}

.btn.green:hover {
    background: darken($green1, 10%);
    color: white;
}

.btn.grey {
    background: $grey3;
}

.btn.grey:hover {
    background: darken($grey3, 10%);
    color: white;
}

div.buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons.bottom {
    margin-bottom: 50px;
}

.btn.small {
    padding: 5px 14px;
    margin-right: 0;
    font-size: 13px;
    color: white;
}

.btn.small:focus {
    color: white;
}
 
.btn.naked {
    background: none;
    font-family: "Open Sans Semibold", sans-serif;
    text-decoration: underline;
    color: $grey3;
}

.btn.naked:hover {
    background: none;
    color: $grey3;
}

/** Alerts **/
/************/
#messages {
    position: fixed;
    z-index: 990;
    top: -20px;
    left: 0;
    width: 100%;
}

.alert {
    border-radius: 0;
    padding: 10px;
}

.alert-error {
    background: $red1;
    color: white;
}

.alert-success {
    background: $green1;
    color: white;
}

.alert-info {
    background: $blue1;
    color: white;
}

.alert-warning {
    background: $orange1;
    color: white;
}

/** Charts **/
/************/
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}
