// Colors
$green1: #94cc47;
$green2: #6dbe45;

// dark green
$green3: #006B2F;

$green4: #549730;

$blue1: #00bcd2;
$blue2: #2196f3;

// dark blue
$blue3: #313447;

$blue4: #2A7499;

$red1: #ff6666;
$red2: #e8623d;

$orange1: #ffcb01;
$orange2: #e8b63d;

$grey1: #eeeeee;
$grey2: #273238;
$grey3: #394144;
$grey4: #1e292f;
$grey5: #777777;

// tables
$grey6: #dddddd;
$grey7: #fbfbfb;
$grey8: #465A65;

$brown: #75600D;

// layout
$sidebarWidth: 240px;
$headerHeight: 70px;

// program colors
$turfrewards: $green3;
$propoints: $green4;
$customBuildApp: $grey2;
$iturfprogramme: $brown;
$pricey: $blue4;
