/** General **/
/*************/
.w60 {
    width: 60px;
}

.w80 {
    width: 80px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w140 {
    width: 140px;
}

.w160 {
    width: 160px;
}

.w180 {
    width: 180px;
}


/** Layout **/
/************/

body {
    background: $grey1;
}

/** Wrapper **/
.wrapper {
    position: relative;
    min-height: calc(100%);
    padding-bottom: 40px;
}

.sidebar {
    width: $sidebarWidth;
}

.wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    width: $sidebarWidth;
    background: center bottom 40px/40% $grey2 no-repeat url("../img/logo-white.png");
}

.content-wrapper {
    width: calc(100% - #{$sidebarWidth} - 20px);
}

/*** Header ***/
/**************/
.main-header {
    background: white;
    height: $headerHeight;
}

.main-header .logo {
    width: $sidebarWidth;
    color: white;
    font-size: 28px;
    line-height: $headerHeight;
    background: $blue2;
    vertical-align: top;
    padding-left: 30px;
    border-bottom: 1px solid $grey2;
}

.main-header .logo span {
    font-family: "Open Sans Bold", sans-serif;
}

.main-header > * {
    display: inline-block;
    height: 100%;
}

.main-header .right,
.main-header .left {
    width: calc(50% - #{$sidebarWidth / 2});
    border-bottom: 1px solid $grey6;
}

.main-header .left {
    text-align: left;
}

.main-header .home,
.main-header h1 {
    line-height: $headerHeight;
    margin: 0 0 0 20px;
    width: auto;
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
}

.main-header .home {
    font-size: 15px;
    color: black;
    padding-left: 23px;
}

.main-header .home::before {
    font-family: "ionicons";
    content: "\f124";
    font-size: 10px;
    text-align: left;
    position: relative;
    left: -8px;
    top: -1px;
}

.main-header .home:hover {
    color: $grey3;
}

.main-header .right > * {
    display: inline-block;
    border-left: 1px solid $grey1;
    line-height: 100%;
    vertical-align: top;
    height: 100%;
}

.main-header .right {
    text-align: right;
    vertical-align: top;
}

.main-header .search {
    position: relative;
    padding: 0 20px;
}

.main-header .search input {
    background: $grey1;
    border: none;
    border-radius: 16px;
    height: 30px;
    padding: 0 20px;
    margin-top: 20px;
    width: 150px;
}

.main-header .search::after {
    font-family: "ionicons";
    content: "\f2f5";
    font-size: 15px;
    text-align: left;
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 27px;
}

.nav {
    padding: 0 20px;
}

.nav:hover {
    cursor: pointer;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav li {
    line-height: 40px;
    text-align: left;
}

.nav a {
    text-decoration: none;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid $grey2;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: $grey1;
}

.nav a.active {
    background-color: $grey1;
    cursor: default;
}

/* Sub Menus */
.nav li li {
    font-size: 15px;
}

.nav li {
    border-bottom: none;
    height: $headerHeight;
    line-height: $headerHeight;
    font-size: 15px; 
    display: inline-block;
}

.nav a {
    border-bottom: none;
}

.nav > ul > li {
    text-align: left;
}

.nav > ul > li > a {
    padding-left: 0;
}

/* Sub Menus */
.nav li ul {
    background: white;
    position: absolute;
    display: none;
    right: -24px;
    width: 200px;
    z-index: 1000;
}

.nav.profile li ul {
    right: -20px;
}

.nav li:hover ul {
    display: block;
}

.nav li ul li {
    display: block;
}

.nav li ul li a {
    padding: 0 20px;
    display: block;
}

.main-header .language > li {
    padding-left: 30px;
    position: relative;
}
.main-header .language > li::before {
    font-family: "ionicons";
    content: "\f38c";
    font-size: 20px;
    text-align: left;
    border: 1px solid $grey1;
    background: $grey1;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    line-height: 28px;
    text-indent: 6px;
    position: absolute;
    top: 22px;
    left: -5px;
    display: block;
    color: $grey3;
}

.main-header .image {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.main-header .image img {
    height: 40px;
    vertical-align: top;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/*** Sidebar ***/
/***************/
.sidebar {
    display: inline-block;
    height: 100%;
    background: $grey2;
}

.sidebar-menu {
    width: $sidebarWidth;
    margin-bottom: 0;
}

nav li a:visited,
nav li a:focus,
nav li a:active,
nav li a,
nav .child li a {
    text-decoration: none;
    color: $grey5;
}

nav li:hover > a,
nav li > a:hover,
nav li.active > a {
    background: $grey4;
    color: white;
}

nav li a {
    background: $grey2;
    padding: 15px 20px;
    padding-left: 30px;
    display: block;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid $grey3;
}

nav li.toggle > a::after {
    font-family: "ionicons";
    content: "\f123";
    width: 20px;
    height: 20px;
    font-size: 11px;
    margin-right: 20px;
    position: absolute;
    top: 17px;
    right: 10px;
}

nav li.toggle.open > a::after {
    content: "\f126";
}

nav .child li a {
    display: block;
    text-decoration: none;
    position: relative;
    text-indent: 10px;
}

nav .child {
    background: $grey2;
}

nav > ul > :not(.active) > .child {
    display: none;
}

nav .child li.active a {
    color: white;
}

nav .child li a:hover {
    color: white;
}

/*** Breadcrumb ***/
/******************/
#breadcrumb {
    margin-top: -30px;
}

#breadcrumb a {
    color: $grey5;
    padding-right: 15px;
    height: 50px;
    line-height: 50px;
    position: relative;
    margin-right: 15px;
}

#breadcrumb a::after {
    content: "-";
    position: absolute;
    right: -5px;
}

#breadcrumb a:last-child::after {
    content: "";
}

#breadcrumb a:hover {
    color: $grey3;
}

#breadcrumb a:hover::after {
    color: $grey5;
}


/*** Content ***/
/***************/
.content-wrapper {
    vertical-align: top;
    display: inline-block;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 20px;
}

.content-wrapper h1 {
    line-height: 24px;
    margin-top: 0;
}

.content-wrapper .title {
    border-bottom: 1px solid $blue2;
    padding-bottom: 25px;
    margin-bottom: 40px;
    padding-top: 20px;
}

/** Tables **/
table.normalize {
    width: 100%;
}

.normalize th,
.normalize td {
    padding: 10px 20px;
}

.normalize.shorten th,
.normalize.shorten td {
    padding: 10px 10px;
}

.normalize td {
    color: $grey3;
    vertical-align: middle;
}

.normalize th.center,
.normalize td.center {
    text-align: center;
}

.normalize td a {
    text-decoration: underline;
    color: $grey3;
    display: inline-block;
    width: 100%;
    min-height: 25px;

}

.normalize td a:hover {
    color: $grey4;
}

th {
    font-weight: normal;
    font-family: "Open Sans Regular", sans-serif;
}

.normalize th {
    line-height: 18px;
    height: 64px;
    background: $grey3;
    color: white;
}

.normalize tr {
    border-top: 1px solid $grey6;
    border-bottom: 1px solid $grey6;
}

.normalize tr:nth-child(2n+1) {
    background: white;
}

.normalize tr:nth-child(2n) {
    background: $grey7;
}

.normalize tr:hover {
    background: darken($grey7, 3%);
}

th.product-name {
    font-family: "Open Sans Regular", sans-serif;
}

th.product-name a:visited,
th.product-name a:focus {
    text-decoration: none;
}
 
.block .table-routes,
.block table.normalize {
    margin-left: 0px;
    margin-right: 0px;
}

h2.table-header {
    padding: 20px;
    background: white;
    font-family: "Open Sans Semibold", sans-serif;
    height: 60px;
    line-height: 20px;
    font-size: 16px;
    margin: 0;
    position: relative;
    bottom: -1px;
}

.deny a,
.approve a {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.deny a::before,
.approve a::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "\f122";
    font-family: "ionicons";
    font-size: 18px;
    color: $orange1;
}

.deny a::before { 
    content: "\f12a";
    font-size: 18px;
    color: $red1;
}

/** Sorting **/
th {
    position: relative;
}

th.tablesorter-header:hover {
    cursor: pointer;
}

th.tablesorter-header::before,
th.tablesorter-header::after {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-family: "ionicons";
    font-size: 8px;
    color: white;
    float: right;
    position: absolute;
    right: 5px;
    top: 23px;
}

th.tablesorter-headerUnSorted::before {
    content: "\f123";
    top: 26px;
}

th.tablesorter-headerUnSorted::after {
    content: "\f126";
    top: 18px;
}

th.tablesorter-headerAsc::after {
    content: "\f126";
}

th.tablesorter-headerDesc::after {
    content: "\f123";
}

th.tablesorter-header[data-sorter=false]::before,
th.tablesorter-header[data-sorter=false]::after {
    content: none;
}

/** Block **/
.block {
    padding: 20px 0 20px 0;
    background: white;
    position: relative;
}

.block > * {
    margin: 0 20px;
}

.content-wrapper .block h1 {
    margin: 0 0 20px 20px;
}

.block h2 {
    font-family: "Open Sans Semibold", sans-serif;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    border-bottom: 1px solid $grey1;
    margin: 0;
    margin-top: -20px;
}

.block > h2 {
    text-indent: 20px;
}

h2 label {
    font-weight: normal;
}

/** Form **/
label {
    font-weight: normal;
}

.properties {
    position: relative;
}

.properties .group-left,
.properties .group-right {
    display: inline-block;
}

.properties .group-left {
    width: calc(100% - 270px);
    vertical-align: top;
}

.properties .group-right {
    width: 270px;
    vertical-align: top;
}

.properties .group {
    display: inline-block;
    border-bottom: 1px solid $grey1;
    margin: 0 50px 20px 0;
    width: 250px;
    vertical-align: top;
}

.properties .group.locked {
    border-bottom: 0;
}

.properties .group.image.no-image {
    border-bottom: 0;
}

.properties .group.image .remove {
    display: block;
    margin-top: 20px;
    line-height: 50px;
    font-size: 14px;
}

.properties .group.image input[type=file] {
    margin-top: 20px;
}

.properties .group.image img {
    margin-top: 20px;
    width: 100%;
}

.properties .label {
    text-align: left;
    margin: 0;
    display: block;
    font-family: "Open Sans Regular", sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: $grey5;
    padding: 10px 0 0 0;
}

.properties .value {
    display: block;
    min-height: 24px;
}

.properties select,
.properties input[type=text] {
    background: transparent;
    border: 0;
    width: 100%;
}
/* User / Turfrewards */
/**********************/
.turfrewards > .block {
    border-left: 10px solid $green3;
    padding: 0;
    height: 120px;
    position: relative;
    bottom: -1px;
    overflow: hidden;
    white-space: nowrap;
}

.turfrewards .name,
.turfrewards .balance {
    vertical-align: top;
    line-height: 120px;
    display: inline-block;
}

.turfrewards .name {
    overflow: hidden;
    font-family: "Open Sans Bold", sans-serif;
    font-weight: normal;
    font-size: 46px;
    margin: 0;
    margin-left: 20px;
}

.turfrewards .balance {
    margin-left: 80px;
    font-size: 18px;
    vertical-align: top;
    font-family: "Open Sans Semibold", sans-serif;
}

.turfrewards .balance .points {
    font-size: 46px;
    font-family: "Open Sans Bold", sans-serif;
    vertical-align: top;
    margin-left: 20px;
}

.turfrewards .normalize th {
    background: $green3;
}

/* Routes */
/**********/

.routes .buttons {
    position: relative;
}

.routes .explanations {
    position: absolute;
    right: 0;
    bottom: 0;
    color: $grey3;
}

.user .explanations span,
.routes .explanations span {
    margin-left: 15px;
    position: relative;
}
 
.user .explanations span::after,
.routes .explanations span::after {
    font-family: "ionicons";
    content: "\f149";
    font-size: 14px;
    position: absolute;
    right: -12px;
    top: -12px;
}

/* User / Roles */
/****************/
.group.checkboxes {
    display: block;
}

.group.checkboxes .label,
.group.checkboxes .value {
    display: inline-block;
}

.group.checkboxes .value {
    position: relative;
    top: 2px;
}

.group.checkboxes .grab {
    margin-right: 20px;
    width: 100%;
}

.user .explanations {
    position: absolute;
    right: 0;
    top: 20px;
    color: $grey3;
}












