/** General **/
/*************/
.content-wrapper {
    padding-top: 20px;
    margin: 20px auto;
    width: 1200px;
}

.add-wallet {
    width: 100%;
    background: limegreen;
}

.add-wallet fieldset {
    border: 0;
    width: 400px;
    display: inline-block;
}

.add-wallet fieldset input {
}

.link {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #eee;
    padding: 10px 50px 10px 0;
    text-align: right;
    box-sizing: border-box;
}


.coinmarketcap-currency-widget {
    width: 400px;
}

.stats {
    margin-bottom: 40px;
}

.stats .coinmarketcap-currency-widget,
.stats .calc {
    display: inline-block;
    vertical-align: top;
}

.diff {
    color: green;
}

.diff.negative {
    color: red;
}

.stats .calc {
    margin-left: 20px;
}

.stats table,
table th,
table td {
    padding: 2px 10px;
}

table {
    text-align: left;
    border-collapse:collapse;
}

table th {
    background: #333;
    color: white;
    font-weight: normal;
    border: 1px solid #444;
}

table th:first-child {
    text-transform: uppercase;
}

table td {
    border: 1px solid #444;
}

.totals {
    margin: 20px 0 50px 0;
}

.stack {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

table .corner {
    border: 0;
}

