/** General **/
/*************/
.differences,
.order-books {
    display: inline-block;
    vertical-align: top;
}

.differences {
    width: 750px;
}

.order-book {
    display: inline-block;
    vertical-align: top;
}

table,
tr,
td {
    padding: 0;
    margin: 0;
    height: 10px;
    line-height: 14px;
}

.asks-container,
.bids-container {
    height: 300px;
    overflow: hidden;
    position: relative;
}

table.asks {
    position: absolute;
    bottom: 0;
}

table.bids {
    top: 0;
}

td {
    padding: 0 10px;
}

tr.number1 {
    background: lightblue;
}

.differences td:first-child {
    width: 100px;
}

.differences td {
    overflow: hidden;
    width: 100px;
}
